.App {
  /* text-align: center; */
}
div {box-sizing: border-box;}
.black-nav {display: flex; background:#000; width:100%; color:#fff; padding-left:20px;}
.list {border-bottom:1px solid #c7c7c7; padding-left:20px; text-align:left;}
.list h4 {font-size:18px; font-weight: bold; }
.list p {}

.btn-box {text-align: center; margin: 0 auto; }

.detail-modal {background:#c4c4c4; padding:20px; text-align:left;}
.detail-modal h4 {font-weight: bold; margin: 0;}
.detail-modal p {margin: 0; padding-bottom:20px;}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
